<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body class = "bg-orange-40">

    <nav class ="bg-red-900">

        <ul>
            <li><a class="" href="/home">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    
    </nav>

    <div>
        <p class="text-lg">Testing to see if tailwind works</p>
    </div>

    {% block Home %} {% endblock %}

    <script
        type = "text/javascript"
        src = "{{ url_for('static', filename ='index.js') }}"   
    ></script>
</body>

</html>

